#window {
    font-size: 16px;
    background-color: rgba(50,50,20,1);
    color: #B1C0D8;
    background: #25344A;
}
#entry:selected {
    background: linear-gradient(120deg, #5577AA, #25344A);
    border-radius: 5px;
}
#input {
    background-color: #25344A;
    border-radius: 5px;
    color: #B1C0D8
}
